.dap-breakpoints
.smex-items
*~$
places
.recentf
recentf.eld
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
melpa-stable
elpa
custom.el
archive-contents
*.elc
.cache
eln-cache
recentf
transient
network-security.data
tree-sitter
tramp
.lsp-session*
